*{
    font-family: "Poppins", sans-serif;
}
body{
   
    display: flex;
   background-color: #212529;
    flex-direction: column;
    align-items: center;
    margin: auto 4%;
}
#numero{
    position: fixed;
    top: 50px;
    right: 0px;
    width: 500px;
    background-color: #000000;
    height: 150px;
    border-radius: 30px;
    padding: 4px;
    
  display: none;
 
}

header{
    position: fixed;
    top: 0px;
   margin-top: 1px;
    height: 50px;
    width: 100%;
   
   
    box-shadow: 0px 0px 10px rgb(116, 109, 111);
   
   background-color:#212529; ;
   z-index: 20;
   
}


#cabeçalho{
    height: 40px;
    width: 80%;
   margin-right: 50px;
   margin-left: 10%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   max-width: 1280px;


}
#logo{
    
    height: 40px;
    width: 40px;
    border-radius: 100%;
   border: 5px white solid;

}
#logotipo{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
#menu{
    height: 50px;
    width: 40%;
    text-align: left;
    margin-top: 0%;
   

}
ul{

    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;  
  justify-items: center;
    text-decoration: none;
list-style: none;
margin-top: 0px;
    
}
li{
   
    color: rgb(116, 109, 111);
    font-size: 20px;
border-radius: 50px;
margin:auto 30px;


}
a{
    text-decoration: none;
    margin: auto;
    color: #4e4e4e;
    display: inline-block;
    transition: .3s;
   

}
a:hover{
    color: rgb(54, 72, 209);
    transform: scale(1.05);

}
#btn{
    display: flex;
    margin: auto 0;
    margin-top: 4px;
    display: inline-block;
    transition: .3s;
}
#btn:hover{
    color: rgb(54, 72, 209);
    transform: scale(1.05);

}
#contacto{
    padding: 8px 30px;
    font-size: 18px;
    background-color: #0000ff;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
  
}
#contacto:hover{
    box-shadow: 0px 0px 8px #0000ff;


}
.artigos{
    margin-top: 20px;
    height: 600px;
    width: 100%;
    
    border-radius: 50px;
  
    margin-top: 100px;
}
#Inicio{
   
  
    display: flex;
    justify-content: space-between;
 
    align-items: center;
    
    


}
#descricao{
    padding: auto 0;
    height: 70%;
    width: 45%;
    
    margin-left: 10%;
    text-align: center;
}
h1{
    color: #0000ff;
}
p{
    color: white;
    
}
#image{
  
   
    height: 80%;
    width: 25%;
    
    border-radius: 30%;
    margin-right: 10%;
    
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    box-shadow: 3px 2px 40px #0000ff;
    z-index: 1;

}
@keyframes flutuar {
    0%{
        top:0px;
    }
    100%{
        top:10px;
    }
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-color: #0000ff;
    border: 10px rgb(219, 217, 217) solid;
    
}
#Especialidade{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
  
    
    
}
#Especialidades{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 30px;
    
}

i{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
.section{
    height: 80%;
    width: 30%;
  margin: 2%;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
   
  transition: .2s;
    

}
.section:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #0000ff;
}
.especificaçao-descrição{
    color: #000000;
}

#linhaCima{
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
    border: 1px white solid;
    width: 100%;
}
#conteudoSobre{
   display: flex;
   flex-direction: row;
}
#imgSobre{
    margin: 10px;
    border: 10px white solid;
    border-radius: 22px;
}
#sal{

    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 800;
}
#linhabaixo{
    margin-bottom: 3%;
    
    border: 1px white solid;
    width: 100%;
}
#projectos{
    display: flex;
    margin:auto 0 ;
    justify-content: center;
    flex-direction: column;
}
a{
    margin: 1%;
}
.corBlack{
    color: #000000;
    font-size: 20px;
}
#projeto{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
footer{
    width: 100%;
    height:50px;
   
  
}
#rodape{
    width: 100%;
}
#e-mail{
    color: white;
    width: 100%;
    border-top: 2px blue solid;
    
    display: flex;
    align-items: center;
}
#fim{
   position: relative;
   right: 0px;
    margin-right: 0px;
    height: 100%;
}
@media screen and (max-width:1020px){
    #menu{
        display: none;
    }
    #btn{
        display: none;
    }
    #Inicio{
        flex-direction: column-reverse;
    }
    .artigos{
        flex-direction: column;
       height: 100%;
     width: 100%;
     align-items: center;
    }
    #Especialidade{
        flex-direction: column;
    align-items: center;
    height: auto;
  
    }
    #titulo{
        align-items: center;
        width: 300px;
    }

    #conteudoSobre{
        flex-direction: column;
       
     
        align-items: center;
    }
    #projeto{
        flex-direction: column;
       height: 100%;
     width: 100%;
     align-items: center;

    }
    #org{
        text-align:center ;
    }
    #conteudo{
        width: 300px;
    }
    #image{
  
   
        margin-right: 0%;

      
    
    }
    #Especialidade{
        padding: 0px;
    }
    #descricao{
      
        margin-left: 0%;
        height: 70%;
        width: 90%;
        
        
    }
    .section{
        height: 80%;
        width: 60%;
      margin: 2%;
        border-radius: 50px;

       
    
        flex-direction: column;
        padding: 10px;
        align-items: center;
       
      transition: .2s;
        
    
    }
    #imgSobre{
        width: 200px;
    }
}
    
